.home-input {
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.user-name {
    padding: 0.45rem 0.8rem;
    background-color: #dbd8d8;
    font-size: 1.3rem;
    color: rgb(8, 97, 133);
    border-radius: 1rem;
    min-width: 20rem;
    width: 50vw;
    outline: none;
}