.home-input {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    
    background-color: #232323;
}
.user-name {
    min-width: 20rem;
    width: 50vw;
    padding: 0.45rem 0.8rem;

    font-size: 1.3rem;
    color: rgb(112, 204, 7);
    
    background-color: rgb(24, 24, 24);
    border-radius: 1rem;
    outline: none;
}
.user-name::placeholder {
    font-size: 0.8rem;
    color: rgba(202, 197, 197, 0.568);
}