.todolist__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    min-height: 10rem;
    height: auto;
}
.todolist__list--task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin: 0.2rem 0;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: rgb(125, 233, 143);
    border-radius: 1rem;
}
.todolist__list--task:hover {
    background-color: rgb(97, 179, 111);
    list-style: none;
}
.delete {
    padding: 0 0.8rem;
}
.delete:hover {
    padding: 0 0.8rem;
    background-color: rgb(233, 125, 125);
    border-radius: 1rem;
}