.todolist__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    min-height: 10rem;
    height: auto;
}
.todolist__list--task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 2rem;
    height: auto;
    margin: 0.2rem 0;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: rgb(125, 233, 143);
    border-radius: 1rem;
}
.todolist__list--task:hover {
    background-color: rgb(255, 64, 64);
    list-style: none;
}
.delete {
    padding: 0 0.5rem;
    border-radius: 0.5rem;

} 
.delete:hover {
    padding: 0 0.5rem;
    background-color: rgb(250, 33, 33);

    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px 2px rgb(235, 73, 73);
}