@import "~bootstrap/scss/bootstrap.scss";
@import "./components/Error";
@import "./components/ToDoList";
@import "./components/Tasks";
@import './views/Home';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 20rem;
    width: auto;
}
